@model VirtusaProject_HandmadeproductSelling.Models.Category
@{
    ViewBag.Title = "Category";
}

<h3>Add new Category</h3>
@using (Html.BeginForm("Category", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <form action="#" method="get">
        <div class="container">
            <table>
                <tr>
                    <td>Category Name</td>
                    <td> @Html.TextAreaFor(m => m.Cat_name, new { @class = "form-control", @placeholder = "Category name" })</td>
                    <td> @Html.ValidationMessageFor(m => m.Cat_name)</td>




                </tr>


                <tr>
                    <td>Image</td>
                    @*<td><input type="file" value="image" id="image"class="input" required /></td>*@
                    <td>
                        @Html.TextBox("Image", null, new { @class = "form-control", @type = "file", required = "required" })

                    </td>

                </tr>
                <tr>
                    <td><input type="submit" name="Create Category" value="Add Category" class="btn btn-primary" /></td>

                </tr>

            </table>

        </div>
    </form>
}

